{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "endOfLine": "lf",
  "plugins": ["@shopify/prettier-plugin-liquid", "prettier-plugin-multiline-arrays"],
  "overrides": [
    { "files": "**/*.json", "options": { "multilineArraysWrapThreshold": 0 } },
    { "files": "**/*.liquid", "options": { "singleQuote": false } }
  ]
}
